Repository madcampos/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @tapspatel, @vmilosevic, @svuckovicTT, @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @rjakovljevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic

.github/CODEOWNERS:

* @nsmithtt
*.fbs @tapspatel
/.github/ @vmilosevic
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @mrakitaTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @mrakitaTT
/include/ttmlir/Dialect/TTIR/Analysis/ @nobradovictt
/include/ttmlir/Dialect/TTKernel/ @rjakovljevicTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @rpavlovicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT
/lib/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @mrakitaTT
/lib/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @mrakitaTT
/lib/Dialect/TTIR/Analysis/ @nobradovictt
/lib/Dialect/TTKernel/ @rjakovljevicTT
/lib/Dialect/TTNN/ @sdjordjevicTT @rpavlovicTT
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic
/runtime/tools/ @tapspatel

[Optimizer] Per op grid overrides.
  include/ttmlir/Dialect/TTIR/Analysis/GridAnalysis.h
  include/ttmlir/Dialect/TTIR/Analysis/TTIRAnalysis.h
  include/ttmlir/Dialect/TTIR/Passes.td
  include/ttmlir/Dialect/TTNN/Passes.h
  lib/Dialect/TTIR/Transforms/Passes.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  test/ttmlir/Dialect/TTNN/multiple_add_with_loc_grid_override.mlir
Owners: @nobradovictt, @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nsmithtt

Initial changes for sys desc. Metal changes not included here
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic

#162: Support for multi-device system. Needs metal updates
  runtime/lib/ttnn/runtime.cpp
  runtime/test/ttnn/CMakeLists.txt
  runtime/test/ttnn/test_generate_sys_desc.cpp
  runtime/test/ttnn/test_subtract.cpp
  runtime/tools/python/ttrt/__init__.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @tapspatel

Modify the deprecated calls
  include/ttmlir/Target/Utils/MLIRToFlatbuffer.h
  lib/CAPI/CMakeLists.txt
  lib/CAPI/TTKernelTypes.cpp
  lib/Dialect/TT/IR/TTDialect.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/Analysis/GridAnalysis.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Passes.cpp
  lib/Dialect/TTKernel/IR/TTKernelOps.cpp
  lib/Dialect/TTMetal/IR/TTMetalOps.cpp
  lib/Dialect/TTMetal/Transforms/KernelsToCpp.cpp
  lib/Dialect/TTMetal/Transforms/Passes.cpp
  lib/Dialect/TTMetal/Transforms/SerializeToBinary.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Dialect/TTNN/Transforms/Passes.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  python/TTKernelModule.cpp
  python/TTModule.cpp
Owners: @nsmithtt, @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @rjakovljevicTT

Updated LLVM to match xla
  env/CMakeLists.txt
Owners: @nsmithtt

wip
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  include/ttmlir/Target/TTMetal/binary.fbs
  lib/Dialect/TTMetal/IR/TTMetalDialect.cpp
  lib/Dialect/TTMetal/Transforms/KernelsToCpp.cpp
  lib/Dialect/TTMetal/Transforms/Passes.cpp
Owners: @rjakovljevicTT, @tapspatel, @nsmithtt

wip
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.h
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.h
  include/ttmlir/Dialect/TTIR/IR/TTIROpsInterfaces.td
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/Transforms/Passes.cpp
  lib/Dialect/TTMetal/Transforms/Passes.cpp
  python/TTModule.cpp
  test/python/affine.py
  test/ttmlir/Silicon/TTMetal/to_layout.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nsmithtt

wip
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTMetal/Transforms/Passes.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nsmithtt

wip
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/Transforms/Passes.cpp
  test/ttmlir/Dialect/TTNN/simple_multiply_system_desc.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nsmithtt

wip
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  lib/Dialect/TTMetal/Transforms/KernelsToCpp.cpp
  lib/Dialect/TTMetal/Transforms/Passes.cpp
  lib/Dialect/TTMetal/Transforms/SerializeToBinary.cpp
Owners: @rjakovljevicTT, @nsmithtt

bootstrap metal runtime
  include/ttmlir/Target/Common/types.fbs
  include/ttmlir/Target/TTMetal/binary.fbs
  include/ttmlir/Target/TTMetal/command.fbs
  include/ttmlir/Target/TTMetal/program.fbs
  lib/Dialect/TTMetal/Transforms/SerializeToBinary.cpp
  runtime/include/tt/runtime/detail/ttmetal.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/CMakeLists.txt
  runtime/lib/runtime.cpp
  runtime/lib/ttmetal/CMakeLists.txt
  runtime/lib/ttmetal/command_queue.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/lib/ttnn/CMakeLists.txt
  runtime/lib/ttnn/runtime.cpp
Owners: @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic

wip
  include/ttmlir/Target/TTMetal/binary.fbs
  include/ttmlir/Target/TTMetal/command.fbs
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTMetal/Transforms/SerializeToBinary.cpp
  runtime/include/tt/runtime/detail/ttmetal.h
  runtime/lib/binary.cpp
  runtime/lib/ttmetal/command_queue.cpp
  runtime/lib/ttmetal/runtime.cpp
  runtime/tools/python/CMakeLists.txt
  runtime/tools/python/setup.py
  runtime/tools/python/ttrt/__init__.py
  runtime/tools/python/ttrt/runtime/module.cpp
Owners: @tapspatel, @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic

#176: Added support for ttrt looping, ttrt saving artifacts per test (system desc, pt tensors, runtime params), and directory level testing
  docs/src/ttrt.md
  runtime/tools/python/ttrt/__init__.py
  runtime/tools/python/ttrt/common/api.py
  runtime/tools/python/ttrt/common/util.py
  test/lit.cfg.py
  test/ttmlir/Silicon/multiple_add_with_loc.mlir
  test/ttmlir/Silicon/multiple_add_with_loc_grid_override.mlir
  test/ttmlir/Silicon/simple_ge.mlir
  test/ttmlir/Silicon/simple_matmul.mlir
  test/ttmlir/Silicon/simple_multiply.mlir
  test/ttmlir/Silicon/simple_relu.mlir
  test/ttmlir/Silicon/simple_subtract.mlir
  test/ttmlir/Silicon/simple_sum.mlir
  test/ttmlir/Silicon/ttir_to_ttnn_pipeline.mlir
  test/ttmlir/Silicon/ttir_to_ttnn_pipeline_custom_opt.mlir
Owners: @nsmithtt, @tapspatel

chore: ignore config files generated by Obsidian
  .gitignore
Owners: @nsmithtt

feat: update tt-explorer api docs
  docs/src/tt-explorer-api.md
Owners: @nsmithtt
